<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AICS - Upload</title>
    <!-- Bootstrap core CSS -->
    <link href="/../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/../static/css/landing-page.css" rel="stylesheet">
         <script type="text/javascript" language="JavaScript">
                        function hideButton(){
                          document.getElementById("browse").style.display='none';
                          document.getElementById("upload").style.display='none';
                          document.getElementById("s0").style.visibility='visible';
                        }
      </script>
  </head>

  <>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index">AICS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
            </li>
                        <li class="nav-item">
              <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 <!-- Page Content -->
  <section class="content-section-b">
    <div class="container">
      <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <h1 class="page-header">Upload with SVM</h1>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
             <form action="{% url 'upload_svm' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="form-horizontal">
                 {% csrf_token %}
               <div class="form-group">
                 <div class="col-lg-8 mr-auto">
                     <input name="train" id="browse" type="file" lang="en">
<!--
                     <input id="train" type="file" style="display:none">  
                     <div class="row">
                <input id="filename" class="input-large" type="text" class="form-control">
                    <a class="btn btn-large btn-primary" onclick="$('input[id=train]').click();"><font color="white">Browse</font></a>
                     </div>
                    <script type="text/javascript">
                        $('input[id=train]').change(function()
                        {  
                            $('#filename').val($(this).val());  
                        });  
                       </script>
-->
                  </div>
               </div>
               <div class="form-group">
                 <div class="col-lg-5 mr-auto">
                  <input type="submit" id="upload" value="Upload" onclick="hideButton()" class="btn btn-large btn-success">
                 </div>
                    <div class="spinner" id="s0" style="visibility:hidden">
                      <div class="rect1" id="s1" style="visibility:inherit"></div>
                      <div class="rect2" id="s2" style="visibility:inherit"></div>
                      <div class="rect3" id="s3" style="visibility:inherit"></div>
                      <div class="rect4" id="s4" style="visibility:inherit"></div>
                      <div class="rect5" id="s5" style="visibility:inherit"></div>
                    </div>
               </div>
             </form>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
            <img id="jpg" class="img-fluid" src="/../static/img/login.jpg" alt="">
      </div>
    </div>
      </div>
  </section>
  </body>
</html>